##### An Ordinal Encoder is used to encode categorical features into an ordinal numerical value (ordered set). This approach transforms categorical value to numerical value in ordered sets.

In [1]:
import pandas as pd 
df = pd.read_csv('/Dataset/house_price.csv')

In [2]:
df.dtypes

Zone           object
Area(sq-ft)     int64
Price(Taka)     int64
dtype: object

In [3]:
df.Zone.unique()

array(['Dhaka', 'Chittagong', 'Khulna'], dtype=object)

#### <b>Data Molding:</b> Will make Dhaka 0, Chittagong 1 and Khulna 2.

In [4]:
# Mapping the values
map_zone = {'Dhaka' : 0, 'Chittagong' : 1, 'Khulna' : 2}

# Setting the map to the data_frame
df['Zone'] = df['Zone'].map(map_zone)

# Let's see what we have done
df

    Zone  Area(sq-ft)  Price(Taka)
0      0         2104       399900
1      0         1600       329900
2      0         2400       369000
3      0         1416       232000
4      0         3000       539900
5      1         1985       299900
6      1         1534       314900
7      1         1427       198999
8      1         1380       212000
9      1         1494       242500
10     2         1940       239999
11     2         2000       347000
12     2         1890       329999
13     2         4478       699900