##### Import Necessary Libraries

In [1]:
import pandas as pd
import os

#### Read datasets

In [2]:
df = pd.read_csv('Dataset/Sales_Data/Sales_May_2019.csv')

In [3]:
df.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,194095,Wired Headphones,1,11.99,05/16/19 17:14,"669 2nd St, New York City, NY 10001"
1,194096,AA Batteries (4-pack),1,3.84,05/19/19 14:43,"844 Walnut St, Dallas, TX 75001"
2,194097,27in FHD Monitor,1,149.99,05/24/19 11:36,"164 Madison St, New York City, NY 10001"
3,194098,Wired Headphones,1,11.99,05/02/19 20:40,"622 Meadow St, Dallas, TX 75001"
4,194099,AAA Batteries (4-pack),2,2.99,05/11/19 22:55,"17 Church St, Seattle, WA 98101"

In [4]:
df.shape

(16635, 6)

##### Read in directory files

In [5]:
files = [file for file in os.listdir('Dataset/Sales_Data/')]

for file in files:
    print(file)

Sales_September_2019.csv
Sales_October_2019.csv
Sales_July_2019.csv
Sales_June_2019.csv
Sales_December_2019.csv
Sales_August_2019.csv
Sales_November_2019.csv
Sales_April_2019.csv
Sales_May_2019.csv
Sales_March_2019.csv
Sales_February_2019.csv
Sales_January_2019.csv

#### Create an empty data frame where we will merge all months data

In [6]:
all_months_data = pd.DataFrame()

In [7]:
for file in files:
    dirc = pd.read_csv('Dataset/Sales_Data/'+file) #read directory csv file
    all_months_data = pd.concat([all_months_data, dirc]) # concat all months data

In [8]:
all_months_data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,248151,AA Batteries (4-pack),4,3.84,09/17/19 14:44,"380 North St, Los Angeles, CA 90001"
1,248152,USB-C Charging Cable,2,11.95,09/29/19 10:19,"511 8th St, Austin, TX 73301"
2,248153,USB-C Charging Cable,1,11.95,09/16/19 17:48,"151 Johnson St, Los Angeles, CA 90001"
3,248154,27in FHD Monitor,1,149.99,09/27/19 07:52,"355 Hickory St, Seattle, WA 98101"
4,248155,USB-C Charging Cable,1,11.95,09/01/19 19:03,"125 5th St, Atlanta, GA 30301"

In [9]:
all_months_data.shape

(186850, 6)

##### Save new merge datasets

In [10]:
all_months_data.to_csv('all_data.csv', index=False)

##### Read in updated dataframe

In [11]:
update_data = pd.read_csv('Dataset/all_data.csv')
update_data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,248151,AA Batteries (4-pack),4,3.84,09/17/19 14:44,"380 North St, Los Angeles, CA 90001"
1,248152,USB-C Charging Cable,2,11.95,09/29/19 10:19,"511 8th St, Austin, TX 73301"
2,248153,USB-C Charging Cable,1,11.95,09/16/19 17:48,"151 Johnson St, Los Angeles, CA 90001"
3,248154,27in FHD Monitor,1,149.99,09/27/19 07:52,"355 Hickory St, Seattle, WA 98101"
4,248155,USB-C Charging Cable,1,11.95,09/01/19 19:03,"125 5th St, Atlanta, GA 30301"