In [1]:
import pandas as pd
import numpy as np 
from sklearn import linear_model

In [2]:
df = pd.read_csv("/Dataset/trencherman.csv")

In [3]:
df

    Height  Weight   Age  Food(g)
0      151      47  63.0     1800
1       97      12   5.0      900
2      165      58  42.0     3200
3      141      44  60.0     2200
4      137      27  17.0     4300
5      125      22  16.0     4150
6      110      15   9.0     3600
7      158      50  20.0     4500
8      148      32  16.0     4650
9       86      11   NaN     1100
10     169      53  41.0     3100
11     100      15   6.0     1400
12     150      49  50.0     2800
13     154      41  25.0     4700

In [4]:
df.Age

0     63.0
1      5.0
2     42.0
3     60.0
4     17.0
5     16.0
6      9.0
7     20.0
8     16.0
9      NaN
10    41.0
11     6.0
12    50.0
13    25.0
Name: Age, dtype: float64

##### Null value handle

In [5]:
df.Age.mean()

28.46153846153846

In [6]:
updateAge = df.Age.median()

In [7]:
df.Age = df.Age.fillna(updateAge)

In [8]:
df.Age

0     63.0
1      5.0
2     42.0
3     60.0
4     17.0
5     16.0
6      9.0
7     20.0
8     16.0
9     20.0
10    41.0
11     6.0
12    50.0
13    25.0
Name: Age, dtype: float64

In [9]:
df

    Height  Weight   Age  Food(g)
0      151      47  63.0     1800
1       97      12   5.0      900
2      165      58  42.0     3200
3      141      44  60.0     2200
4      137      27  17.0     4300
5      125      22  16.0     4150
6      110      15   9.0     3600
7      158      50  20.0     4500
8      148      32  16.0     4650
9       86      11  20.0     1100
10     169      53  41.0     3100
11     100      15   6.0     1400
12     150      49  50.0     2800
13     154      41  25.0     4700

##### Multiple Linear Regression

In [10]:
lr = linear_model.LinearRegression()

In [11]:
lr.fit(df[['Height', 'Weight', 'Age']], df['Food(g)'])

LinearRegression()

In [12]:
lr.predict([[152, 56, 32]])

array([2381.39467302])

##### m1,m2,m3,...... + c

In [13]:
lr.coef_

array([ 100.86741764, -102.04883475,  -26.46571476])

In [14]:
lr.intercept_

-6388.815190054857

##### Multiple Linear Regression Equation

In [15]:
# y = m1x1 + m2x2 + m3x3+........ + c
y = (100.86741764 * 152) + (-102.04883475 * 56) + (-26.46571476 * 32) + (-6388.815190054857)
y

2381.3946729051413